.sidebar {
    margin-top: 40px;
    padding: 15;
    list-style: none;
    color: green;
}


body {
       background-image: url('static/gyventojas/img/fonas.jpg');
       background-size: cover;
       background-repeat: no-repeat;
       background-color: red;
  }

