{% extends "base.html" %}
{% block "content" %}

{% if user.is_authenticated %}

<h1>Mano Mėnesinio Inašo info</h1>

<table id="lentele">
    <thead>
        <tr>
            <th>Buto Numeris</th>
            <th>Kvadratinio metro ikainis</th>
            <th>Mėnesinis Inašas</th>
        </tr>
    </thead>
    <tbody>
        {% for kaupiamasis_inasas in kaupiamasis_inasas_objects %}
            <tr>
                <td><b>{{ kaupiamasis_inasas.flat_owner.flat_nr }}</b></td>
                <td><b>{{ kaupiamasis_inasas.payment_rate }}</b></td>
                <td><b>{{ kaupiamasis_inasas.calculate_monthly_inasas }}</b></td>
            </tr>
            <!-- Skaičiavimai šiam butui -->

        {% endfor %}
    </tbody>
</table>

<h2>Bendras Visų Inašas: {{ total_inasas }}</h2>

<h2>Išlaidos</h2>
<ul>
    {% for expense in expenses %}
    <li><b>{{ expense.description }}: {{ expense.repairs_cost }} €</b></li>
    {% endfor %}
</ul>

<h2>Skaičiavimai</h2>
<p><b>Bendros išlaidos: {{ total_expenses }} €</b></p>
<p><b>Likutis: {{ balance|floatformat:2 }} €</b></p>

<h2>Darbuotojų informacija</h2>
{% for employee in staff %}
    <p><b>{{ employee.duties }} - {{ employee.wage }}</b></p>
{% endfor %}

<h2>Darbuotojų Atlyginimai</h2>
<p><b>Visų darbuotojų atlyginimas: {{ total_wages }} €</b></p>

                <p>Atlyginimas per šį butą:</p>
                <p><b>{{ wage_per_flat|floatformat:2 }} €</b></p>


{% else %}
<p>Prašome prisijungti, kad galėtumėte peržiūrėti šį turinį.</p>
{% endif %}

{% endblock %}
